.SelectElement {
    border: 2px solid white;
    border-bottom-color: #2a81f2;
    background-color: white;
    padding: .5rem;
    border-radius: 10px;
    
  }
  
  .SelectElement:focus{
    outline: none;
  }