.LandingPage {
  display: grid;
}

.ButtonSection {
  display: grid;
  gap: 2rem;
  text-align: center;
}

.LandingLoginBtn {
  border: 2px solid #2a81f2;
  padding: .5rem 1rem;
  background-color: #5aecd6;
  color: #09475d;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  width: 200px;
  margin: auto;
}

.LoginLogo .AppName, .LoginLogo .Slogan {
  display: none;
}

@media screen and (min-width: 900px) {
  .LandingPage {
   display: flex;
   justify-content: center;
   align-items: center;
  }

  .LoginLogo .AppName, .LoginLogo .Slogan {
    display: none;
  }

  .TaxiImg {
    width: 25rem;
    height: 25rem;
    padding: 0 3rem;
  }
}