.Button {
  border: 2px solid #2a81f2;
  padding: .5rem 1rem;
  background-color: #5aecd6;
  color: #09475d;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  width: 200px;
  margin: auto;
}

.CancelBtn {
  background-color: #09475d;
  color: #ffffff;
}